/* SERVICES */
#sevices .trustedBy span {
    display: block;
    color: #b5b6ba;
    font-weight: 600;
}

#sevices .trustedBy {
    background-color: #fafafa;
}

#sevices .trustedBy img {
    height: 70px;
    object-fit: contain;
}

#sevices .carousel .owl-stage-outer {
    margin: 0 30px 0 15px;
}

#sevices .carousel .owl-nav button {
    display: inline-block;
    background-color: #b5b6ba;
    opacity: .75;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    position: relative;
    margin: 0;
}

#sevices .carousel .owl-nav button,
#sevices .carousel .owl-nav button {
    position: absolute;
    top: 45%;
}

#sevices .carousel .owl-nav button.owl-prev {
    left: 0;
}

#sevices .carousel .owl-nav button.owl-next {
    right: 0;
}

#sevices .carousel .owl-nav button span {
    display: inline-block;
    transform: translateY(-2px);
}

#sevices .carousel h2 {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: calc(1.325rem + .9vw);
    line-height: 1.2;
}

#sevices.servicesMobile .item img {
    display: block;
    margin-left: 2%;
    width: 70vw;
}

#sevices.servicesTablet .item img {
    min-width: 32vw;
    max-width: 35vw;
}

#sevices.servicesDesktopToAbove .item img {
    width: 85%;
}