.banner-job-title {
    height: 500px;
    padding-top: 102px;
}

.button__banner-job-title {
    transition: all .1s linear;
}

.button__banner-job-title:hover {
    background-color: white !important;
    color: #62646a;
}

.text_content {
    font-size: 12px;
}

@media (max-width: 768px) {
    .categories-filter-switch {
        display: none;
    }
}

@media (min-width : 992px) {
    .title_left {
        width: 60%;
    }
    .rating__left {
        width: 50%;
    }
    .ranking {
        width: 50%;
    }
    .title__right {
        width: 30%;
    }
} 

@media (max-width : 992px) {
    .title_left {
        width: 100%;
    }
    .title_right {
        width: 100%;
    }
    .rating__left {
        width: 100%;
    }
    .ranking {
        width: 100%;
    }
}

.ant-input-group-addon {
    background: black !important;
    border-radius: 0px !important;
}